
@model UserLoginViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <title>Nazire Akbulut Admin Paneli Giriş ©</title>
    <meta name="description" content="Nazire Akbulut Resmi Web Sitesi">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/katen/html/images/logo/logo2.jpeg">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="~/admin/theme/css/style.css" rel="stylesheet">
    
</head>

<body class="h-100">
    
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>  



    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="#"> <h4>Nazire Akbulut Admin Giriş</h4></a>        
                                <form class="mt-5 mb-5 login-input" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" asp-for="username" placeholder="Kullanıcı Adı">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" asp-for="password" class="form-control" placeholder="Şifre">
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Giriş Yap</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/admin/theme/plugins/common/common.min.js"></script>
    <script src="~/admin/theme/js/custom.min.js"></script>
    <script src="~/admin/theme/js/settings.js"></script>
    <script src="~/admin/theme/js/gleek.js"></script>
    <script src="~/admin/theme/js/styleSwitcher.js"></script>
</body>
</html>





