

<div class="widget rounded">
	<div class="widget-about data-bg-image text-center" data-bg-image="/katen/html/images/map-bg.png">
		<img src="~/katen/html/images/logo/logo.jpeg" alt="Nazire Akbulut" class="mb-4" style="width:85px; height:40px; object-fit:cover;" />


		<p class="mb-4">
			Bir edebiyat bilimci, bir edebiyat eleştirmeni olarak kırk yıllık birikim olan yazılarımı ve bu yazıların oluşmasında edinilen akademik deneyimleri site ziyaretçileriyle paylaşmak isterim
		</p>


		@await Component.InvokeAsync("SocialMediaListForPublic")
	</div>
</div>