@model List<MyWrite>

<div class="widget rounded">
	<div class="widget-header text-center">
		<h3 class="widget-title">Son Yazılarım</h3>
		<img src="~/katen/html/images/wave.svg" class="wave" alt="Nazire Akbulut" />
	</div>
	<div class="widget-content">
		<!-- post -->
		@foreach (var item in Model)
		{
			<div class="post post-list-sm circle">
				<div class="thumb">
					<a href="/MyWrite/MyWriteDetail/@item.MyWriteId">
						<div class="inner">
							<img src="@item.Image" alt="Nazire Akbulut" style="height:60px; width:60px; object-fit:cover; border-radius:10px;" />
						</div>
					</a>
				</div>
				<div class="details clearfix">
					<h6 class="post-title my-0">
						<a href="/MyWrite/MyWriteDetail/@item.MyWriteId">@item.Title</a>
					</h6>
					<ul class="meta list-inline mt-1 mb-0">
						<li class="list-inline-item">@(((DateTime)item.AddDate).ToString("dd MMMM yyyy"))</li>
					</ul>
				</div>
			</div>
		}
	</div>
</div>