
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nazire Akbulut Admin Paneli ©</title>
    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/katen/html/images/logo/logo2.jpeg">
    <!-- Custom Stylesheet -->
    <link href="~/admin/theme/css/style.css" rel="stylesheet">

</head>