
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">ADMİN PANELİ</li>
            <li>
                <a href="/Default/AdIndex/1" aria-expanded="false">
                    <i class="mdi mdi-home"></i><span class="nav-text">Ana Sayfa</span>
                </a>
            </li>
            <li>
                <a href="/About/AdAboutUpdate/1" aria-expanded="false">
                    <i class="mdi mdi-information-outline"></i><span class="nav-text">Hakkımda</span>
                </a>
            </li>
            <li>
                <a href="/Category/AdCategoriList/" aria-expanded="false">
                    <i class="mdi mdi-view-grid"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/MyWrite/AdMyWriteList/" aria-expanded="false">
                    <i class="mdi mdi-pencil"></i><span class="nav-text">Yazılarım</span>
                </a>
            </li>
            <li>
                <a href="/SocialMedia/AdSocialMediaList/" aria-expanded="false">
                    <i class="mdi mdi-instagram"></i><span class="nav-text">Sosyal Medya Hesaplarım</span>
                </a>
            </li>
            <li>
                <a href="/Writer/AdWriterList/" aria-expanded="false">
                    <i class="mdi mdi-pencil-box-outline"></i><span class="nav-text">Yazarlar</span>
                </a>
            </li>
            <li>
                <a href="/Contact/AdContactList/" aria-expanded="false">
                    <i class="mdi mdi-cellphone-android"></i><span class="nav-text">Gelen Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/MesKurUye/AdMesKurUyeList/" aria-expanded="false">
                    <i class="mdi mdi-content-save-outline"></i><span class="nav-text">Meslek Kuruluşlara Üyelikler</span>
                </a>
            </li>
            <li>
                <a href="/YukLisDokUye/AdYukLisDokJuriList/" aria-expanded="false">
                    <i class="mdi mdi-content-save-outline"></i><span class="nav-text">Yüksek Lisans ve Doktora Juriliği</span>
                </a>
            </li>
            <li>
                <a href="/Comment/AdCommentList/" aria-expanded="false">
                    <i class="mdi mdi-comment-outline"></i><span class="nav-text">Yorumlar</span>
                </a>
            </li>
            <li>
                <a href="/FileNazire/AdFileNazireList/" aria-expanded="false">
                    <i class="mdi mdi-file-outline"></i><span class="nav-text">Dosyalar</span>
                </a>
            </li>
            <li>
                <a href="/FileType/AdFileTypeList/" aria-expanded="false">
                    <i class="mdi mdi-file-outline"></i><span class="nav-text">Dosya Tipleri</span>
                </a>
            </li>
            <li>
                <a href="/SiteSetting/AdSiteSettingUpdate/1" aria-expanded="false">
                    <i class="mdi mdi-cogs"></i><span class="nav-text">Site Ayarları</span>
                </a>
            </li>
            <li>
                <a href="/AppUser/AdUserList/" aria-expanded="false">
                    <i class="mdi mdi-nature-people"></i><span class="nav-text">Adminler</span>
                </a>
            </li>
            <li>
                <a href="/Login/LogOut/" aria-expanded="false">
                    <i class="mdi mdi-logout"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>