
<div class="col-lg-4 col-sm-6">
    <div class="card gradient-1">
        <div class="card-body">
            <h2 class="card-title text-white">Yayındaki Yazı Sayısı</h2>
            <div class="d-inline-block">
                <h1 class="text-white">@ViewBag.count Adet</h1>
            </div>
            <span class="float-right display-5 opacity-5"><i class="fa fa-pencil"></i></span>
        </div>
    </div>
</div>