@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/AdminLayoutPartial/_HeadPartial.cshtml")

<body>
    
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    

    <div id="main-wrapper">

        <div class="nav-header">
            <div class="brand-logo">
               
            </div>
        </div>

        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("~/Views/AdminLayoutPartial/_LeftSidebarPartial.cshtml")
        

        <div class="content-body">         
           

            <div class="container-fluid">               
                
                @RenderBody()

            </div>          

        </div>

        @await Html.PartialAsync("~/Views/AdminLayoutPartial/_FooterPartial.cshtml")

    </div>

    @await Html.PartialAsync("~/Views/AdminLayoutPartial/_ScriptPartial.cshtml")

    @RenderSection("Scripts", false)
</body>

</html>