
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nazire Akbulut Hata Sayfası ©</title>
    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/katen/html/images/logo/logo2.jpeg">
    <link href="~/admin/theme/css/style.css" rel="stylesheet">

</head>

<body class="h-100">



    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="error-content">
                        <div class="card mb-0">
                            <div class="card-body text-center pt-5">
                                <h1 class="error-text text-primary">404</h1>
                                <h4 class="mt-4"><i class="fa fa-thumbs-down text-danger"></i> 404 Error </h4>
                                <p>Oops Sayfa Bulunamadı</p>
                                    <div class="text-center mb-4 mt-2">
                                        <a href="/Default/Index/" class="btn btn-primary">Siteye Git</a>
                                    </div>
                                <div class="text-center">
                                    <p>@DateTime.Now.Year Nazire Akbulut ©. Tüm Hakları Saklıdır.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/katen/html/plugins/common/common.min.js"></script>
    <script src="~/katen/html/js/custom.min.js"></script>
    <script src="~/katen/html/js/settings.js"></script>
    <script src="~/katen/html/js/gleek.js"></script>
    <script src="~/katen/html/js/styleSwitcher.js"></script>
</body>
</html>





